/* #region Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  /* color: #434455; */
  background-color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  max-width: 1444px;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

/* #endregion */

/* #region Header */
.header {
}

.header-nav {
}

.header-nav-list {
  color: #2e2f42;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.header-nav-item {
}

.header-nav-link {
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:active {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Logo */
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: #2e2f42;
  /* font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase; */
}

.logo-light {
  color: #f4f4fd;
  /* font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase; */
}

/* #endregion */

/* #region Hero */

.hero {
  background-color: #2e2f42;
}

.hero-container {
  max-width: ;
  padding-left: ;
  padding-right: ;
  margin-left: ;
  margin-right: ;
  /* width: 1136px;
  margin: 0 auto;
  padding: 381px 40px 40px;
  background: rgb(var(--cl-primary) / 40%);
  border-radius: 30px; */
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* #endregion */

/* #region Benefits */

.benefits {
}

.visually-hidden {
}

.benefits-list {
}

.benefits-item {
}

.benefits-item-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-item-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion */

/* #region Team */
.team {
  background-color: #f4f4fd;
}

.team-list {
}

.team-list-item {
  background-color: #ffffff;
}

.team-item-img {
}

.team-item-caption {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-item-content {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* #endregion */

/* #region Portfolio */

.portfolio {
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-item-img {
}

.portfolio-item-caption {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-content {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Footer */

.footer {
  background-color: #2e2f42;
}

.footer-link {
}

.footer-slogan {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */
